@charset "UTF-8";

.container {
	width: 800px;
}


#td1 {
	vertical-align: middle;
	font-size: 25px;
}


.tr1 {
	width: auto;
	text-align: center;
	font-size: 15px;
}

.tr2 {
	width: auto;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
}

.td1 {
	width: auto;
	valign: middle;
	
	}

footer {
	text-align: center;
	background-color: navy;
	color: white;
}

.toolbar {
	margin: 3px 0px;
}

.searchbox {
	float: right;
}