@charset "UTF-8";

.container {
    width: 800px;
}


footer {
    text-align: center;
    background-color: navy;
    color: white;
}

.toolbar {
	margin: 3px 3px;
	float: right;
}

.searchbox {
	display: inline-block;
}